/*
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 12.5rem;
    background: #fff;
    padding-bottom: 1.875rem;
    width: 600;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5625rem;
    width: 100%;
    margin-top: 1.875rem;  
}
.text{
    color: #3c009d;
    font-size: 3rem;
    font-weight: 700;
}
.underline{
    width: 3.8125rem;
    height: 0.375rem;
    background: #3c009d;
    border-radius: 0.5625rem;
}
.inputs{
    margin-top: 3.4375rem;
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 35rem;
    height: 5rem;
    background: #eaeaea;
    border-radius: 0.375rem;
}
.heading{
   margin: auto;
}
.textbox{
    margin-right: 1.25rem;
}
.drop-box-deparment{
    margin-right: 1.25rem;
}
.drop-box-dob{
    margin-right: 0.625rem;
}
.drop-box-role{
    margin-right: 1.25rem;
}
.input input{
    height: 40px;
    width: 300px;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
    text-align: right;
    margin-right: 80px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-image : linear-gradient(to right, #4568DC 0%, #B06AB3  100%, #4568DC  100%);
    border-radius: 50px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}
*/


